In [3]:
import pandas as pd

df = pd.read_csv('/largessd/home/muntasir/Desktop/AutoTimes/dataset/panel/panel_gvkey_nasdow.csv')

In [4]:
df

,DATE,gvkey,mean,std,capital_ratio,equity_invcap,debt_invcap,totdebt_invcap,at_turn,pay_turn,...,debt_capital,bm,CAPEI,evm,pe_exi,pe_inc,pe_op_basic,ps,ptb,actual
0,1990-03,1300.0,0.203125,0.009613,0.515901,0.489510,0.523297,0.353982,0.734494,0.632692,...,0.471616,0.696538,0.182221,0.009147,0.345252,0.331681,0.289909,0.034120,0.061408,0.2250
1,1990-06,1300.0,0.215000,0.018841,0.544170,0.461538,0.551971,0.315634,0.743199,0.740513,...,0.423581,0.665988,0.195695,0.005676,0.345027,0.331464,0.007462,0.032618,0.062676,0.2200
2,1990-09,1300.0,0.201875,0.023443,0.519435,0.486014,0.526882,0.407080,0.737758,0.734487,...,0.480349,0.680244,0.089551,0.019672,0.342997,0.329515,0.204373,0.006652,0.013099,0.1900
3,1990-12,1300.0,0.205000,0.011055,0.501767,0.503497,0.508961,0.522124,0.738847,0.732179,...,0.545852,0.963340,0.073743,0.019782,0.342852,0.329375,0.199526,0.002146,0.006338,0.2000
4,1991-03,1300.0,0.131111,0.028370,0.586572,0.419580,0.594982,0.525074,0.748640,0.630641,...,0.624454,1.000000,0.000000,0.005510,0.343401,0.329902,0.217798,0.006223,0.015634,0.1175
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9282,2020-12,183377.0,0.192363,0.004075,0.035750,0.964250,0.036254,0.053435,0.259786,0.232411,...,0.108798,0.172589,0.207455,0.318000,0.024431,0.025478,0.016127,0.384673,0.563313,0.2120
9283,2021-03,183377.0,0.148368,0.005443,0.037736,0.962264,0.038268,0.057252,0.170819,0.000000,...,0.138127,0.167513,0.181472,0.371708,0.165677,0.172777,0.169833,0.507413,0.582867,0.1620
9284,2021-06,183377.0,0.175896,0.011867,0.263158,0.736842,0.266868,0.269084,0.202847,0.117260,...,0.293283,0.152284,0.301832,0.345802,0.038164,0.039800,0.030725,0.687225,0.675578,0.1900
9285,2021-09,183377.0,0.187739,0.002911,0.367428,0.632572,0.372608,0.366412,0.128114,0.117260,...,0.368023,0.121827,0.347734,0.391641,0.045411,0.047357,0.038879,0.831630,0.787148,0.1980
9286,2021-12,183377.0,0.229048,0.004031,0.433962,0.564052,0.439074,0.430344,0.074733,0.173650,...,0.421003,0.101523,0.396886,0.462151,0.052976,0.055246,0.046895,0.982330,0.915222,0.2460

In [6]:
df_short = df[['DATE','gvkey','actual']]

In [7]:
df_short

         DATE     gvkey  actual
0     1990-03    1300.0  0.2250
1     1990-06    1300.0  0.2200
2     1990-09    1300.0  0.1900
3     1990-12    1300.0  0.2000
4     1991-03    1300.0  0.1175
...       ...       ...     ...
9282  2020-12  183377.0  0.2120
9283  2021-03  183377.0  0.1620
9284  2021-06  183377.0  0.1900
9285  2021-09  183377.0  0.1980
9286  2021-12  183377.0  0.2460

[9287 rows x 3 columns]

In [ ]:
df_short['gvkey'].nunique()

98

In [31]:
df_short = df_short.sort_values(by=['gvkey', 'DATE'])
df_short

         DATE     gvkey  actual
4786  1990-03    1161.0   0.065
4787  1990-06    1161.0  -0.050
4788  1990-09    1161.0  -0.125
4789  1990-12    1161.0  -0.070
4790  1991-03    1161.0   0.010
...       ...       ...     ...
9282  2020-12  183377.0   0.212
9283  2021-03  183377.0   0.162
9284  2021-06  183377.0   0.190
9285  2021-09  183377.0   0.198
9286  2021-12  183377.0   0.246

[9287 rows x 3 columns]

In [32]:
df_short.to_csv('/largessd/home/muntasir/Desktop/AutoTimes/dataset/panel/univariate/nasdaq.csv', index=False)

In [25]:
df_10_list = df_short['gvkey'].value_counts().head(10).index.to_list()

In [26]:
df_10_list

[1300.0,
 3144.0,
 6066.0,
 1690.0,
 1602.0,
 8479.0,
 2991.0,
 2817.0,
 8762.0,
 10499.0]

In [29]:
df_10 = df_short[df_short['gvkey'].isin(df_10_list)]

In [33]:
df_10 = df_10.sort_values(by=['gvkey', 'DATE'])
df_10

         DATE    gvkey  actual
0     1990-03   1300.0  0.2250
1     1990-06   1300.0  0.2200
2     1990-09   1300.0  0.1900
3     1990-12   1300.0  0.2000
4     1991-03   1300.0  0.1175
...       ...      ...     ...
1672  2020-12  10499.0  1.6400
1673  2021-03  10499.0  1.8500
1674  2021-06  10499.0  2.0500
1675  2021-09  10499.0  2.0700
1676  2021-12  10499.0  2.2700

[1280 rows x 3 columns]

In [35]:
df_10['DATE'].value_counts()

DATE
1990-03    10
1990-06    10
1990-09    10
1990-12    10
1991-03    10
           ..
2020-12    10
2021-03    10
2021-06    10
2021-09    10
2021-12    10
Name: count, Length: 128, dtype: int64

In [34]:
df_10.to_csv('/largessd/home/muntasir/Desktop/AutoTimes/dataset/panel/univariate/df_10.csv', index = False)

In [ ]:
from data_provider.data_loader import Dataset_EPSPanel

root_path = "/largessd/home/muntasir/Desktop/AutoTimes/dataset/panel/univariate"   
data_path = "df_10.csv"

seq_len, label_len, pred_len = 32, 4, 4

train_ds = Dataset_EPSPanel(
    root_path=root_path,
    flag='train',
    size=(seq_len, label_len, pred_len),
    data_path=data_path,
    train_end='2014-12-31',
    val_end='2017-12-31',
)

print("Train samples:", len(train_ds))

# Inspect one sample
x, y, x_mark, y_mark, firm_id, target_quarters = train_ds[0]
print("x shape:", x.shape)              # (seq_len, 1)
print("y shape:", y.shape)              # (label_len + pred_len, 1)
print("firm_id:", firm_id)
print("target_quarters:", target_quarters)

Train samples: 680
x shape: (32, 1)
y shape: (8, 1)
firm_id: 1300.0
target_quarters: ['1997-03-01T00:00:00.000000000' '1997-06-01T00:00:00.000000000'
 '1997-09-01T00:00:00.000000000' '1997-12-01T00:00:00.000000000'
 '1998-03-01T00:00:00.000000000' '1998-06-01T00:00:00.000000000'
 '1998-09-01T00:00:00.000000000' '1998-12-01T00:00:00.000000000']

In [2]:
import numpy as np

# collect some y values from train_ds in scaled space
ys_scaled = []
for i in range(min(200, len(train_ds))):
    _, y_scaled, _, _, _, _ = train_ds[i]
    ys_scaled.append(y_scaled[:, 0])   # flatten

ys_scaled = np.concatenate(ys_scaled)

print("Approx mean(z):", ys_scaled.mean())
print("Approx std(z):", ys_scaled.std())
print("Cached eps_mean:", train_ds.eps_mean)
print("Cached eps_std :", train_ds.eps_std)

Approx mean(z): -0.07882698
Approx std(z): 0.6879168
Cached eps_mean: 0.6595601
Cached eps_std : 0.7760681829955342

In [3]:
import random
idx = random.randint(0, len(train_ds) - 1)

x_scaled, y_scaled, _, _, firm_id, target_quarters = train_ds[idx]

y_scaled_vals = y_scaled[:, 0]
y_orig_via_inverse = train_ds.inverse_transform(y_scaled_vals)

print("Firm:", firm_id)
print("Target quarters:", target_quarters)
print("Scaled y (first 5):", y_scaled_vals[:5])
print("Inverse y (first 5):", y_orig_via_inverse[:5])

Firm: 6066.0
Target quarters: ['2012-06-01T00:00:00.000000000' '2012-09-01T00:00:00.000000000'
 '2012-12-01T00:00:00.000000000' '2013-03-01T00:00:00.000000000'
 '2013-06-01T00:00:00.000000000' '2013-09-01T00:00:00.000000000'
 '2013-12-01T00:00:00.000000000' '2014-03-01T00:00:00.000000000']
Scaled y (first 5): [3.6729245 3.8146644 6.0953918 3.0157657 4.188343 ]
Inverse y (first 5): [3.5100002 3.62      5.39      3.        3.9099998]

In [4]:
import pandas as pd

df = pd.read_csv(f"{root_path}/{data_path}")
df[train_ds.date_col] = pd.to_datetime(df[train_ds.date_col])
df = df.sort_values([train_ds.firm_col, train_ds.date_col])

mask = (df[train_ds.firm_col] == firm_id) & \
       (df[train_ds.date_col].isin(target_quarters))
df_raw_segment = df.loc[mask].sort_values(train_ds.date_col)

print("Raw EPS from CSV:", df_raw_segment[train_ds.target_col].values)
print("Inverse y aligned :", y_orig_via_inverse)

Raw EPS from CSV: [3.51 3.62 5.39 3.   3.91 3.99 6.13 2.46]
Inverse y aligned : [3.5100002 3.62      5.39      3.        3.9099998 3.9899998 6.1300006
 2.46     ]

In [5]:
val_ds = Dataset_EPSPanel(
    root_path=root_path,
    flag='val',
    size=(seq_len, label_len, pred_len),
    data_path=data_path,
    train_end='2014-12-31',
    val_end='2017-12-31',
)

test_ds = Dataset_EPSPanel(
    root_path=root_path,
    flag='test',
    size=(seq_len, label_len, pred_len),
    data_path=data_path,
    train_end='2014-12-31',
    val_end='2017-12-31',
)

print("Val samples:", len(val_ds))
print("Test samples:", len(test_ds))

# Check that val/test target_quarters are in the right date ranges
_, _, _, _, _, tq_val = val_ds[0]
_, _, _, _, _, tq_test = test_ds[0]
print("Val target quarter range:", tq_val[0], "->", tq_val[-1])
print("Test target quarter range:", tq_test[0], "->", tq_test[-1])

Val samples: 120
Test samples: 130
Val target quarter range: 2014-03-01T00:00:00.000000000 -> 2015-12-01T00:00:00.000000000
Test target quarter range: 2017-03-01T00:00:00.000000000 -> 2018-12-01T00:00:00.000000000

In [6]:
x_t, y_t, _, _, firm_t, tq_t = train_ds[0]
d_first_pred_train = tq_t[train_ds.label_len]   # first pred step

print("Train firm:", firm_t)
print("Train target dates:", tq_t)
print("Train first pred date:", d_first_pred_train)

Train firm: 1300.0
Train target dates: ['1997-03-01T00:00:00.000000000' '1997-06-01T00:00:00.000000000'
 '1997-09-01T00:00:00.000000000' '1997-12-01T00:00:00.000000000'
 '1998-03-01T00:00:00.000000000' '1998-06-01T00:00:00.000000000'
 '1998-09-01T00:00:00.000000000' '1998-12-01T00:00:00.000000000']
Train first pred date: 1998-03-01T00:00:00.000000000

In [7]:
x_v, y_v, _, _, firm_v, tq_v = val_ds[0]
d_first_pred_val = tq_v[val_ds.label_len]

print("Val firm:", firm_v)
print("Val target dates:", tq_v)
print("Val first pred date:", d_first_pred_val)

Val firm: 1300.0
Val target dates: ['2014-03-01T00:00:00.000000000' '2014-06-01T00:00:00.000000000'
 '2014-09-01T00:00:00.000000000' '2014-12-01T00:00:00.000000000'
 '2015-03-01T00:00:00.000000000' '2015-06-01T00:00:00.000000000'
 '2015-09-01T00:00:00.000000000' '2015-12-01T00:00:00.000000000']
Val first pred date: 2015-03-01T00:00:00.000000000

In [8]:
x_te, y_te, _, _, firm_te, tq_te = test_ds[0]
d_first_pred_test = tq_te[test_ds.label_len]

print("Test firm:", firm_te)
print("Test target dates:", tq_te)
print("Test first pred date:", d_first_pred_test)

Test firm: 1300.0
Test target dates: ['2017-03-01T00:00:00.000000000' '2017-06-01T00:00:00.000000000'
 '2017-09-01T00:00:00.000000000' '2017-12-01T00:00:00.000000000'
 '2018-03-01T00:00:00.000000000' '2018-06-01T00:00:00.000000000'
 '2018-09-01T00:00:00.000000000' '2018-12-01T00:00:00.000000000']
Test first pred date: 2018-03-01T00:00:00.000000000

In [ ]:
import pandas as pd
import numpy as np

idx = 0
x_v, y_v, _, _, firm_v, tq_v = val_ds[idx]
y_scaled = y_v[:, 0]
y_orig = val_ds.inverse_transform(y_scaled)

print("Scaled y (first 5):", y_scaled[:5])
print("Inverse y (first 5):", y_orig[:5])

df = pd.read_csv(f"{root_path}/{data_path}")
df[val_ds.date_col] = pd.to_datetime(df[val_ds.date_col])
df = df.sort_values([val_ds.firm_col, val_ds.date_col])

mask = (df[val_ds.firm_col] == firm_v) & (df[val_ds.date_col].isin(tq_v))
df_segment = df.loc[mask].sort_values(val_ds.date_col)

print("Raw EPS from CSV    :", df_segment[val_ds.target_col].values)
print("Inverse y from loader:", y_orig)

Scaled y (first 5): [0.7994657  0.9283204  1.0442896  0.99274766 0.96697676]
Inverse y (first 5): [1.28      1.3800001 1.47      1.4300001 1.4100001]
Raw EPS from CSV    : [1.28 1.38 1.47 1.43 1.41 1.51 1.6  1.58]
Inverse y from loader: [1.28      1.3800001 1.47      1.4300001 1.4100001 1.51      1.6000001
 1.5800002]